<div class="form">
   <form method="POST" action="">
      <div class="form-input">
         <label for="exampleInput">Tim Kiem</label>
         <input type="text" name="q" class="form-control" id="exampleInput" placeholder="Nhap tim kiem">
      </div>
      <div class="form-select">
         <label for="exampleInput">Chon gioi tinh</label>
         <select name="gentle" id="">
            <option value="male">Nam</option>
            <option value="female">Nu</option>
         </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>